<form [formGroup]="bookexchangeForm" (ngSubmit)="addExchange()">
  <div class="form-group col-lg-6 col-md-12 col-sm-12">
    <label for="exampleFormControlInput1">Book Title</label>
    <input
      type="text"
      class="form-control"
      name="bookTitle"
      required
      formControlName="bookTitle"
    />
  </div>

  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      style="margin-left: 15px;"
      type="radio"
      formControlName="wantGet"
      id="inlineRadio1"
      name="inlineRadio1"
      (click)="changeStateGet()"
    />
    <label class="form-check-label" for="inlineRadio1">Want to get</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      id="inlineRadio1"
      name="inlineRadio1"
      (click)="changeStateExchange()"
      formControlName="wantExchange"
    />
    <label class="form-check-label" for="inlineRadio2">Want to exchange</label>
  </div>

  <div class="col-md-2" style="margin-top: 10px;">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
